/*Desktop-first*/
* {
    margin: 25px;
}

body {
    background-color: pink;
    color: black;
}

section {
    margin: 10px;
}

nav {
    display: block;
    position: sticky;
    top: 0;
    font-family: "Delius Swash Caps";
    text-align: center;
    color: black;
    background-color: rgb(250, 243, 144);
}

.meow-script-regular {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}  

.delius-swash-caps-regular {
    font-family: "Delius Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
}
  
.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Meow Script";
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    color: rgb(250, 243, 144);
}

h2 {
    font-family: "Delius Swash Caps";
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: white;
}

h3 {
    font-family: "Spectral";
    font-size: 25px;
    font-weight: 300;
}

h5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Spectral";
}

img {
    height: auto;
    width: 100px;
}

.about {
    font-family: "Spectral";
    text-align: center;
    border: 5px solid rgb(250, 243, 144);
}

.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.list {
    display: flex;
    flex-direction: column;
    font-family: "Spectral";
    border: 5px solid rgb(250, 243, 144);
}

.connect-container {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Spectral";
    border: 5px solid rgb(250, 243, 144);
    height: 150px;
}

/*tablet media query*/
@media (max-width: 1025px) {
    * {
        margin: 15px;
    }
    section {
        margin: 5px;
    }
    body {
        margin: 20px;
    }
    .about {
        font-size: 20px;
        padding: 2px;
    }
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 15px;
        font-weight: 450;
    }
    .list p {
        font-size: 18px;
        text-align: center;
    }
}

/*mobile media query*/
@media (max-width: 540px) {
    * {
        margin: 5px;
    }
    section {
        margin: 5px;
    }
    .about {
        font-size: 15px;
        padding: 2px;
    }
    h3 {
        font-size: 15px;
    }
    h5 {
        font-size: 12px;
    }
    .experience-container {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .list {
        flex-direction: row;
        padding: 2px;
    }
    .list p {
        font-size: 15px;
        text-align: center;
    }
}